/***RESSOURCES***/

#ressources section {
	margin-bottom: 0 !important;
}

#ressources .secTit {
	margin: 40px auto 30px auto !important;
	width: fit-content;
}

#ressources .secTit0 {
	margin: 0px auto 30px auto !important;
}

.toolSec .fa {
	margin-right: 10px !important;
}

#ressources .toolTit {
	width: fit-content;
	padding: 2px 50px;
	text-align: left;
	font-size: 20px !important;
}

#ressources .argu {
	padding: 50px !important;
}

#ressources #top {
	margin: 100px auto;
	padding: 0;
	min-height: unset !important;
}

#ressources #top .wow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0 !important;
}

#ressources .toolButton {
	align-self: center;
	max-width: 50%;
}

#ressources .toolButton2 {
	align-self: center;
	max-width: 50%;
	margin: auto !important;
}

#ressources .argu p {
	max-width: 90%;
	margin: auto;
}

.contactW {
	width: 100%;
	display: flex;
	justify-content: center;
}

.toolSection .container {
	margin-top: -5px;
	background: url("../img/bckg2.webp"), var(--light);
	background-position: center;
	background-size: cover;
	padding: 15px;
	margin-bottom: 50px;
}

.toolSection .container h1 {
	text-align: center;
	margin: 15px auto 50px auto;
}

.toolSection p {
	text-align: justify !important;
	padding: 2px 50px;
	color: black;
	margin: 0;
}

.toolWrapper {
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}

.partA {
	flex: 1;
	padding: 5px;
	background: var(--primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition: 0.4s;
}

.partA2 {
	flex: 0.1;
}

.partB {
	flex: 4;
	background: url("../img/bckg2.webp"), var(--light);
	background-position: center;
	background-size: cover;
	/*padding: 15px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.toolSection button {
	background: url("../img/bckg2.webp"), var(--primary);
	width: 100% !important;
	padding: 10px 0 !important;
	justify-self: center !important;
	align-self: center !important;
	margin: auto !important;
	color: white !important;
	transition: 0.4s !important;
	pointer-events: none !important;
}

.toolWrapper:nth-of-type(odd) {
	flex-direction: row-reverse;
}

.toolWrapper:nth-of-type(odd) .partA,
.toolWrapper:nth-of-type(odd) .partA button {
	background: url("../img/bckg2.webp"), var(--secondary) /* !important*/;
}

.partA:hover,
.partA:hover button {
	transform: scale(1.05);
	background: url("../img/bckg2.webp"), var(--secondary) !important;
}

.toolWrapper:nth-of-type(odd) .partA:hover,
.toolWrapper:nth-of-type(odd) .partA:hover button {
	transform: scale(1.05);
	background: url("../img/bckg2.webp"), var(--primary) !important;
}

.toolWrapper:nth-of-type(odd) .partB .toolTit {
	color: var(--primary) !important;
	align-self: flex-end;
}

.realTool h1 {
	font-size: 18px !important;
	border-bottom: 1px solid var(--secondary) !important;
	width: fit-content;
	padding-bottom: 5px;
	margin: auto;
}
