/***RESSOURCES***/
#optimiser .container {
	margin-top: -5px;
	background: url("../img/bckg2.webp"), var(--light);
	background-position: center;
	background-size: cover;
	padding: 15px;
	margin-bottom: 50px;
}
#optimiser .container h1 {
	/*width: 100% !important;*/
	text-align: center;
	margin: 15px auto 50px auto;
}
#optimiser p {
	text-align: justify !important;
	padding: 2px 50px;
	color: black;
}
.toolWrapper {
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}

.toolWrapper:nth-of-type(odd) {
	flex-direction: row-reverse;
}
/*
.toolWrapper:nth-of-type(odd) button {
	right: unset !important;
	left: 0 !important;
	border-radius: 0 15px 0 0 !important;
}
*/
.partA {
	flex: 1;
}
.partA2 {
	flex: 0.1;
}
.partB {
	flex: 3;
	background: url("../img/bckg2.webp"), var(--light);
	background-position: center;
	background-size: cover;
	padding: 15px;
	position: relative !important;
}

.partB button {
	position: absolute !important;
	bottom: 0px !important;
	right: 0px !important;
	background-color: var(--primary) !important;
	width: fit-content !important;
	padding: 13px !important;
	margin: 0 !important;
	color: white !important;
	transition: 0.4s !important;
	border-radius: 15px 0 0 0 !important;
}

.partB button:hover {
	background-color: var(--secondary) !important;
	pointer: cursor;
	transition: 0.4s !important;
}
