/***GENERAL***/

/*Components styling*/
@import "./header.css";
@import "./about.css";
@import "./actu.css";
@import "./besoins.css";
@import "./real.css";
@import "./team.css";
@import "./footer.css";
@import "./anim.css";
@import "./ressources.css";
@import "z-responsive.css";

/*Color Variables*/
:root {
    --light: #f9f7fd;
    --primary: #21759c;
    --primaryLighter: #2e9bcd;
    --secondary: #e84e24;
    --dark: #434341;
    /*--dark: black;*/
}

/*Misc*/
.title {
    background-color: transparent !important;
    color: var(--secondary) !important;
    text-transform: uppercase !important;
    font-size: 25px !important;
    border: none !important;
}

strong {
    font-weight: bold !important;
}

nav,
footer {
    background-color: white !important;
    box-shadow: 2px 2px 7px 0.5px var(--dark) !important;
}

.bg-light {
    background: unset !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/**Buttons*/
.btn {
    font-weight: 500;
    transition: 0.5s;
    background-color: var(--primary);
    border: var(--primary);
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #ffffff;
}

.btn:hover {
    background-color: var(--secondary);
    border: var(--secondary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*Back to top arrow*/
.back-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    transition: 0.4s;
    border: none ! !important;
}

.back-to-top:hover {
    background-color: var(--secondary) !important;
}

.back-to-top:active,
.back-to-top:focus,
.back-to-top:visited {
    border: none !important;
}

/*Spinner*/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#spinner .text-primary {
    background-color: var(--primary) !important;
}
