/***GENERAL***/
/*Color Variables*/
:root {
    --light: #f9f7fd;
    --primary: #21759c;
    --primaryLighter: #2e9bcd;
    --secondary: #e84e24;
    --dark: #434341;
}

/*Misc*/
.title {
    background-color: transparent !important;
    color: var(--secondary) !important;
    text-transform: uppercase !important;
    font-size: 25px !important;
}

strong {
    font-weight: bold !important;
}

nav,
footer {
    background-color: white !important;
    box-shadow: 2px 2px 7px 0.5px var(--dark) !important;
}

.text-white {
    color: var(--light);
}

.bg-light {
    background: unset !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/**Buttons*/
.btn {
    font-weight: 500;
    transition: 0.5s;
    background-color: var(--primary);
    border: var(--primary);
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #ffffff;
}

.btn:hover {
    background-color: var(--secondary);
    border: var(--secondary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*Back to top arrow*/
.back-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    transition: 0.4s;
    border: none ! !important;
}

.back-to-top:hover {
    background-color: var(--secondary) !important;
}

.back-to-top:active,
.back-to-top:focus,
.back-to-top:visited {
    border: none !important;
}

/*Spinner*/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#spinner .text-primary {
    background-color: var(--primary) !important;
}

/***HEADER***/
/*Nav*/
nav {
    background-color: var(--light);
}

.navbar-nav {
    text-align: center;
}

.fa-plus-square {
    margin: 0 !important;
}

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--secondary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    display: none;
}

.dropdown-item {
    background-color: var(--primary);
    color: var(--light);
    border: 0.5px solid var(--light);
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color: var(--secondary) !important;
    color: var(--light);
}

/*Nav Logo*/
nav .logo {
    margin: 11px 50px 11px 0;
    max-height: 40px;
}

nav .logoU {
    max-height: 80px;
}

/*Header titles*/
.headerTitle {
    font-size: 18px;
    margin: auto;
    text-align: center;
    text-align: left;
    text-align: center;
}

.headerTitle2 {
    display: none;
}

.fa-plus-square {
    font-size: 20px;
}

/*Nav Contact button*/
.mainC {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.secondC {
    display: none;
}

/*Carousel*/
.carousel * :not(.iconCar) {
    pointer-events: none !important;
}

.carousel-inner {
    max-height: 370px !important;
}

.iconCar {
    box-shadow: 2px 2px 7px 0.5px var(--dark) !important;
}

.carousel {
    filter: saturate(85%);
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
    border-radius: 50%;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #999999;
}

/*Carousel Text*/
.introText2 h1 {
    font-size: 35px !important;
}

/***INTRO***/
.introIcon {
    border-radius: 50%;
}

.iconTxt {
    display: flex;
}

.intro h5 {
    align-self: center;
    color: var(--dark);
}

.intro .row {
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
}

.squareText {
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
    z-index: 5;
    width: 300px !important;
    margin: auto !important;
}

.squareText .d-flex {
    align-items: center !important;
    justify-content: center !important;
}

/***ABOUT***/

.about2 {
    background: unset !important;
}

.about2 .container .row .wow {
    background: unset !important;
    display: flex !important;
    align-items: center !important;
}

.about2 .container {
    background: unset !important;
}

#about {
    max-width: 80% !important;
}

#about .wow {
    margin-top: -5px;
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
    padding: 15px;
}

#about .logoBis {
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
}

.iconIntro {
    max-width: 75px;
    margin-right: 15px;
}

.icoW {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

#about .wow h6 {
    color: var(--secondary) !important;
}

#about .wow p {
    text-align: justify;
    color: var(--dark);
}

.eventW {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventSub {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.eventSub p {
    margin-top: 25px;
    max-width: 75% !important;
    text-align: justify;
}

.eventSub img {
    margin: 10px;
    width: 300px !important;
}

.eventHeader {
    display: flex;
    margin-bottom: 10px;
}

.eventHeader i {
    align-self: center;
    font-size: 20px;
    margin-right: 15px;
}

.eventHeader p {
    margin: 0;
    color: var(--secondary) !important;
    font-weight: bold;
    font-size: 18px;
}

.event {
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
    margin: 15px;
    padding: 15px;
    color: var(--primary);
}

.about3 {
    max-width: 25px;
    justify-self: center;
    margin: auto !important;
}

.aboutTitle {
    font-size: 25px;
    max-width: 75%;
    margin: auto;
    color: var(--secondary);
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--primary);
    width: fit-content;
}

#about .fadeInUp {
    padding: 15px !important;
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
}

#about h6 {
    margin-top: 25px;
}

.vidWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.vidWrap iframe {
    width: 100%;
    height: auto;
}

/***ACTU***/
.Actu iframe {
    height: 700px !important;
}

.Actu h1 {
    text-transform: uppercase;
    background: unset !important;
    color: var(--secondary);
}

.wow2 {
    background: unset;
}

/***OUTILS***/
/***COURSES***/
.outils {
    margin-top: 50px;
    height: auto !important;
}

.courses p {
    text-align: center !important;
}

.courses {
    min-height: 100vh;
    height: 100vh;
}

.courses .btn-outline-primary,
.courses a {
    color: var(--light) !important;
    border-color: var(--primary);
}

.courses-overlay {
    background: rgba(0, 0, 0, 0.7) !important;
}

.outils .position-relative {
    display: flex;
    justify-content: center;
}

.courses h1 {
    color: var(--secondary);
    background: unset !important;
}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.courses-item {
    transform: scale(1);
    transition: 0.4s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}

.card {
    background-color: var(--primary);
    padding: 15px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2 {
    background: unset;
    margin: 25px;
    max-height: 450px;
}

.courses-item:hover {
    transform: scale(1.07);
}

.card h5,
.card p {
    color: var(--light) !important;
}

.card h5 {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--light);
    width: fit-content;
    margin: auto;
}

/***TESTIMONIES***/
#témoignages p {
    text-transform: initial;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary);
    transition: 0.5s;
    background: var(--primary);
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}

.testiW,
#témoignages .text-center {
    background-color: unset !important;
    text-transform: uppercase;
}

#témoignages p {
    text-transform: initial;
}

.testiW {
    background: url("../img/bckg2.webp"), var(--light) !important;
    background-position: center;
    background-size: cover;
    padding: 15px;
}

.testiBtn {
    width: 50%;
    margin: auto;
    max-width: 400px;
    font-size: 14px !important;
}

.testiBtn i {
    color: var(--light) !important;
}

.testiFa1 {
    color: var(--secondary) !important;
}

/***TEAM***/
.team-items {
    margin: -0.75rem;
    display: flex;
    justify-content: center;
}

.team-item {
    padding: 0.75rem;
    background: url("../img/bckg2.webp"), var(--light);
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.team-item img {
    transform: scale(1);
    transition: 1s;
}

.team-item h5 {
    transition: 0.5s;
}

.team-item:hover img {
    transform: scale(1.05);
    background: inherit !important;
}

.team-item:hover h5 {
    color: var(--secondary);
}

.team-item .text-center {
    padding: 0 !important;
    min-height: 76px;
}

.teamImgWrap {
    display: flex;
    justify-content: center;
}

.team-item h5 {
    font-size: 16px !important;
    color: var(--primary);
}

.team-item span {
    color: var(--dark);
    font-size: 14px !important;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*Active when descriptions are here*/
/*
.team-item:hover .team-social {
    height: 100%;
    opacity: 1;
}
*/
.team-social {
    padding: 5px;
}

.team-social p {
    color: var(--light) !important;
    font-size: 12px !important;
}

/***FOOTER***/
.footer {
    background: url("../img/bckg2.webp"), var(--light) !important;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: var(--dark) !important;
}

footer .container .row {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.subFoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    text-align: left !important;
}

.footer a {
    color: var(--primary) !important;
    margin: auto;
}

.footLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footLogo img {
    max-width: 80px;
}

.footLogo h4 {
    color: var(--dark) !important;
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

.modalB {
    all: unset !important;
    cursor: pointer !important;
    margin: auto !important;
    width: 100% !important;
    color: var(--primary) !important;
    text-align: center !important;
    border: none;
}

.modalB:hover,
.modalB:focus,
.modalB:active,
.modalB:visited {
    background: inherit;
    color: inherit;
    border: none;
}

.modal-title {
    color: var(--secondary);
}

.modal-header {
    border-color: var(--primary);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-body div {
    margin: 15px;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.lastF {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

/***ANIMATION***/

/*Main background anim*/
body {
    animation: theme 21s linear infinite;
}

body:after,
body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(255, 255, 255, 0.7);
    animation: background 90s linear infinite;
    pointer-events: none;
}

body:after {
    left: 15vw;
}

body:before {
    right: 15vw;
    animation-direction: alternate-reverse;
}

@keyframes theme {
    0% {
        background: var(--secondary);
    }

    100% {
        background: var(--primary);
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Video background anim*/
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    filter: invert(100%);
}

/*Nav contact button anim*/
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/***RESPONSIVE***/

/*----------MAX : 1396-----------*/
@media (max-width: 1396px) {
    .mainC i {
        margin: auto !important;
        padding: 0 5px 0 5px;
    }
}

/*----------MAX : 1250-----------*/
@media (max-width: 1250px) {
    .headerTitle {
        display: none;
    }

    .headerTitle2 {
        display: block;
        font-size: 25px !important;
    }
}

/*--------OVER 992-----------*/
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        padding: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

/*----------MAX : 992-----------*/
@media (max-width: 992px) {
    .border-end {
        border-right: 0 solid #dee2e6 !important;
    }

    .headerTitle {
        display: block;
        /*font-size: 25px !important;*/
    }

    .headerTitle2 {
        display: none;
    }
    .navbar .nav-item .dropdown-menu,
    .dropdown {
        display: none;
    }
}

/*----------MAX : 985-----------*/
@media (max-width: 985px) {
    .introText2 {
        margin: auto;
        max-width: 70%;
    }
}

/*----------MAX : 958-----------*/
@media (max-width: 985px) {
    .introText2 h1 {
        font-size: 20px !important;
    }
}

/*----------MAX : 991-----------*/
@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }

    .intro {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }

    .mainC {
        display: none;
    }

    .secondC {
        display: block;
    }

    .intro .row:first-child {
        /*justify-content: center;*/
        margin-top: 50px;
    }

    .squareText {
        margin: 10px !important;
        /*width: unset !important;*/
        width: 100% !important;
    }
}
/*----------MAX : 806-----------*/
@media (max-width: 806px) {
    .headerTitle {
        display: none;
    }

    .headerTitle2 {
        display: block;
        font-size: 25px !important;
    }
}

/*----------MAX : 768-----------*/
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 300px;
    }

    #header-carousel .carouIm1 {
        object-position: center right;
    }

    #header-carousel .carouIm2 {
        object-position: center left;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .introText2 {
        margin: auto;
    }

    .introText2 h1 {
        font-size: 25px !important;
        justify-self: center;
    }

    .eventSub {
        flex-direction: column;
    }

    .intro .row {
        max-width: 98% !important;
        justify-content: center;
    }

    .g-0,
    .gx-0 {
        --bs-gutter-x: none !important;
    }

    .firstImgAbout {
        display: none;
    }

    .secondImgWrap {
        display: flex;
        /*justify-content: center;*/
        padding: 0 !important;
        max-height: 75px !important;
    }

    .secondImgAbout {
        position: relative !important;
        margin: 0 auto 0 auto !important;
        background: unset !important;
    }

    .aboutWr {
        max-height: 200px !important;
    }

    .headerTitle2 {
        margin-bottom: 0 !important;
    }

    #intro h5 {
        font-size: 15px !important;
    }

    #intro .col-lg-3 {
        max-height: 150px;
        margin: 10px auto !important;
    }
}

/*----------MAX : 560-----------*/
@media (max-width: 560px) {
    .introText2 h1 {
        font-size: 18px !important;
        justify-self: center;
    }

    footer {
        padding-bottom: 50px !important;
    }

    .aboutTitle {
        font-size: 18px;
    }

    .eventHeader p {
        text-align: center;
    }

    .title {
        font-size: 18px !important;
    }

    #témoignages img {
        max-height: 75px;
        width: auto;
    }

    #témoignages p {
        font-size: 16px !important;
    }
}

/*----------MAX : 360-----------*/
@media (max-width: 360px) {
    /*
    .introText2 h1 {
        font-size: 15px !important;
    }
    */
}

/*----------MAX : 358-----------*/
@media (max-width: 358px) {
    nav {
        justify-content: center !important;
    }

    .sub {
        display: none;
    }
}
