/***INTRO***/
#intro {
  display: flex;
  margin-top: 125px;
}

.intro {
  width: 70%;
  height: 100%;
  margin: auto;
  background-color: var(--whiteish);
  display: flex;
  flex-direction: column;
}

.over {
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
h1 {
  text-align: center;
  color: var(--main);
}
.under {
  background-color: blue;
}

.over img {
  max-width: 100%;
  margin: auto;
}
